* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* The box-sizing property allows us to include the padding 
    and border in an element's total width and height. */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    background: linear-gradient(to bottom,rgb(102, 218, 233), white);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 62px;
    /* font-weight: 700; */
    margin-bottom: 50px;

}